# @package _global_
defaults:
  - train.yaml
  - _self_

# Sample selection
create_training_batch_cache: true # if 'true' it will create a batch cache for the train data using the pretrained model.
model:
  config:
    sample_selection: true

selection_strategies:
  - random_drop
  - token_random_drop
  - simple_token_jaccard_drop
  - simple_token_hamming_drop
  - gumbel_token_jaccard_drop
  - gumbel_token_hamming_drop
selection_strategy: null
percentages_to_keep:
  - 0.45
  - 0.55
  - 0.65
  - 0.75
  - 0.85
  - 0.95
percentage_to_keep: null # percentage threshold to determine if dropping elements
sorting_strategy: 'simple'
alignment_strategy: 'jaccard' # alignment metric to use 'jaccard' or 'hamming'
min_percentage_per_class: 0.012 # percentage threshold to determine if dropping elements of a class

# General Parameters
task_name: 'sample_selection' # Reference task name
palette: gist_ncar # Color palette used for visualizations
num_batches: null # Number of batches to load for the analysis experiment. If 'null', it loads all batches.
num_scenarios: null # Number of scenarios to consider for analysis experiment. If 'null', it loads all scenarios
select_mode: true # If 'true' selects the best predicted mode for visualization
seed: 42 # Seed for random generators

split: train # Specify split to consider 'train', 'val' or 'test'
scenarios_path: ${paths.base_path}/processed/mini_causal/training # Specify path to input scenarios

# Specify name of experiment to consider
paths:
  # Student Model (ckpt: epoch_140.ckpt)
  # experiment_dir: causal-benchmark-labeled_scenetokens_2026-02-13_19-21-01

  # Safe-ST Model (ckpt: epoch_139.ckpt)
  experiment_dir: causal-benchmark-labeled_safe-scenetokens_safe-weight_2026-01-13_18-45-53
  # experiment_dir: ego-safeshift-causal-benchmark_safe-scenetokens_safe-weight_2026-01-14_16-10-23

  # Causal-ST Model, run as: (ckpt: epoch_095.ckpt)
  # uv run -m scenetokens.sample_selection model=causal_scenetokens ckpt_path=/data/driving/waymo/causal-benchmark-labeled/model_cache/causal-benchmark-labeled_causal-scenetokens_2026-02-05_15-05-18/ckpts/causal-benchmark-labeled_causal-scenetokens/epoch_095.ckpt
  # experiment_dir: causal-benchmark-labeled_causal-scenetokens_2026-02-05_15-05-18
